@charset "UTF-8";
@media screen and (min-width: 600px) {
  #sss {
    position: absolute; top: 100px; left:250px;
  }
  #imgg {
    position: absolute; top: 80px; left:48px;
  }
  #titi {
    position:absolute; top:320px; left:20px;
  }
  #kei {
    position: absolute; top:12px; left: 45px;
  }
  fooo{
    position: absolute; top: 1300px;
  }
  .btn{
    border: 1px solid silver;
    border-radius: 5px;
    background-color: gray;
    padding: 20px;
    text-align: center;
    color: white;
    width: 150px;
  }
}
name {
  font-size: 60px;
  text-align: center;
}
body{
  background: #2E2E2E;
  color: #F2F2F2;
  margin: 0;
}
html {
  margin: 0;
}

h2 {
  font-size: 25px;
}

ul {
  margin-top: 15px;
  margin-left: 20px;
}
p {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 600px) { /*ウィンドウ幅が最大600pxまでの場合に適用*/
  .btn{
    border: 1px solid silver;
    border-radius: 5px;
    background-color: gray;
    padding: 20px;
    text-align: center;
    color: white;
    width: 80px;
  }
  #sss{
    text-align: center;
    width: auto;
  }
  fooo{
    position: absolute; top: 1500px;
  }
  body,html {
    width: 100%;
  }
  #kei {
    position: absolute; top: 140px; left:320px;
  }
  #imgg{
    text-align: center;
  }
  #titi {
    position:absolute; top:450px; left:20px;
  }
  #nam {
    text-align: center;
  }
}
ss {
  font-size: 20px;
}
