@charset "UTF-8";
html {
  font-size: 100%;
}
body {
  background-image: url(img/fine-day.jpg);
  background-color: #CECEF6;
  background-size: cover;
}
h1 {
  font-size: 2rem;
  font-family: serif;
  color: #3aacad;
  border-style: double dotted solid ridge;
  text-align: center;
}
h2 {
  font-family: font-family: "游ゴシック体", "Yu Gothic", Yu Gothic, sans-serif;
  color: #8f64ab;
  text-align: center;
}
h3 {
  font-family: font-family: "游ゴシック体", "Yu Gothic", Yu Gothic, sans-serif;
  font-size: 20px;
  text-align: center;
}
p {
  text-align: justify;
  font-size: 15px;
  font-family: "ヒラギノ丸ゴ Pro W4","Hiragino Maru Gthic Pro", sans-serif;
  color: #702c91;
  background-color: #8490c8;
  opacity: 0.5;
}
